aiohttp==3.6.2
aiohttp-socks==0.3.4
aiorpcX==0.18.4
async-timeout==3.0.1
certifi==2019.11.28
dnspython==1.16.0
ecdsa==0.15
Electrum==3.3.8
joblib==0.14.1
jsonrpclib-pelix==0.4.0
multidict==4.7.5
numpy==1.22.0
protobuf==3.11.3
pyaes==1.6.1
QDarkStyle==2.6.8
qrcode==6.1
scikit-learn==0.22.2.post1
scipy==1.4.1
sklearn==0.0
yarl==1.4.2
